/* src/index.css */
@import "slick-carousel/slick/slick.css"; 
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-image {
    width: 1120px; /* Set width */
    height: 740px; /* Set height */
    object-fit: cover; /* Ensures images fit without distortion */
    margin: 0 auto; /* Center-align the images */
  }
  
  .slick-slider {
    display: flex;
    align-items: center;
  }
  
  .slick-list {
    overflow: hidden;
  }
  
  .slick-slide img {
    display: block;
  }
  
  .slick-dots li button:before {
    color: white;
  }
  